DEBUG=True
SECRET_KEY=your_secret_key
ALLOWED_HOSTS=*

# Settings file location
DJANGO_SETTINGS_MODULE=config.settings.local

# Postgres
POSTGRES_DB=library
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456789

# Django Database
DB_NAME=$POSTGRES_DB
DB_USER=$POSTGRES_USER
DB_PASSWORD=$POSTGRES_PASSWORD
DB_PORT=5432

# Database Connection String
DATABASE_URL=postgres://postgres:1342917@localhost:5432/library
CELERY_BROKER_URL=redis://localhost:6379/1